@import './variables';
@import './mixins';

.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  .video-thumbnail {
    background-color: $color-light-gray;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    width: 200px;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      border-radius: 10px;
    }

    .video-details {
      margin-top: 10px;

      .title {
        font-size: 16px;
        color: $color-dark-gray;
      }

      .info {
        margin-top: 5px;
        font-size: 14px;
        color: $color-dark-gray;
      }
    }
  }
}

.video-player {
  video {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .control-button {
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 25px;
        height: auto;
      }
    }
  }
}


