$color-gold: #d1b410;
$color-blueish-green: #20b2aa;
$color-dark-blueish-green: #17928c;
$color-dark-lime-green: #14c28e;
$color-white: #ffffff;
$color-light-gray: #f0f0f0;
$gray: #868686; 
$color-dark-gray: #333;

$font-stack: 'Arial', sans-serif;
$header-height: 80px;
$sidebar-width: 250px;